<?xml version="1.0" encoding="GB2312"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean name="uicReadService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName"
			value="com.taobao.uic.common.service.userinfo.UicReadService" />
		<property name="version" value="1.0.0.daily" />
	</bean>


	<bean name="c2bOperateService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName"
			value="com.taobao.c2bmarket.service.C2BOperateService" />
		<property name="version" value="1.0.0.daily.hongye" />
	</bean>

	<bean name="c2bQueryService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName" value="com.taobao.c2bmarket.service.C2BQueryService" />
		<!-- <property name="version" value="1.0.0.daily.hongye" /> -->
		<property name="version" value="1.0.0.daily" />
	</bean>

	<bean id="bangpaiService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName" value="com.taobao.matrix.group.service.GroupService" />
		<property name="version" value="1.1.1.daily" />
	</bean>

</beans>
